.headings{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;
}
#post{
    max-width: 400px;
    margin:auto;
    background: white;
}

#row{
    display:flex;
}

.fa-ellipsis-vertical{
    font-size: 2.5rem;
}
.icons{
    font-size:3.5rem;
}

.fa-html5{
    font-size:2rem;
}

h1,h2{
    margin:0;
    margin-left:10px;
}

h1{
    font-size:1.5rem;
}

h2{
    font-size:0.75rem;
}

#buttons{
    display:flex;
    justify-content: space-between;
    font-size:1.5rem;
    margin:0.2rem;
}

#text{
    text-align:parent;
}